
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(207, 207, 207);
}

.top-chart {
    width: 500px;
    height: 225px;
    padding: 25px 30px;
    overflow: hidden;
    position: absolute; /* Changed */
    top: 503px; /* Added */
    left: 445px;
    background: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.342);

    display: flex;
    flex-direction: column;
}

.top-chart .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
}

.top-chart .header1 h5 {
    margin: 0; 
    flex: 1; 
    text-align: left; 
}

.menu_song {
    margin-top: 7px;
    width: 100%;
    height: 300px;
    overflow: auto;
}

.menu_song::-webkit-scrollbar {
    display: none;
}

.menu_song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20 px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s linear;
}

.menu_song li:hover {
    background: rgb(105, 105, 105, .1);
}

.menu_song li span {
    font-size: 11px;
    font-weight: 600;
    color: #919191;
}

.menu_song li img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 25px;
}

.menu_song li h5 {
    font-size: 12px;
    margin-left: 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.menu_song li h5 .subtitle {
    font-size: 11px;
    color: #919191;
    font-weight: 400;
}


.top-chart .menu_song .songItem .actions {
    position: absolute;
    font-size: 12px;
    right: 15px;
    display: flex;
}

.top-chart .menu_song .songItem .actions p {
    color: #fff;
    margin-right: 20px;
    margin-top: 4px;
}

.top-chart .menu_song .songItem .actions .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32323d;
    padding: 6px;
    border: 2px solid #464748;
    border-radius: 6px;
    margin-right: 20px;
}

.top-chart .menu_song .songItem .actions .icon i {
    cursor: pointer;
    font-size: 10px;
    color: #0e9fff;
}

.top-chart .menu_song .songItem .actions i {
    color: #919191;
    font-size: 15px;
    cursor: pointer;
}

.top-chart .menu_song .songItem .actions .bx {
    margin-top: 5px;
}

